<div class="card">
    <div class="card-body">
        <h4 class="card-title">Input Sliders</h4>
        <h6 class="card-subtitle">noUiSlider is a lightweight JavaScript range slider with tons of customizaion.</h6>

        <div class="row">
            <div class="col-md-6">
                <h5 class="card-body__title">Single slider</h5>

                <div id="input-slider"></div>

                <div class="row">
                    <div class="col-6 mt-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="input-slider-value" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h5 class="card-body__title">Range Slider</h5>

                <div id="input-slider-range"></div>

                <div class="row form-row">
                    <div class="col-6 mt-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="input-slider-range-value-1" />
                        </div>
                    </div>

                    <div class="col-6 mt-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="input-slider-range-value-2" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <h5 class="card-body__title">Theming</h5>
        <p>Color of the slider can be changed using modifier classes. Red, Blue, Green, Orange, Teal and Purple themes are available to choose from.</p>

        <div class="row">
            <div class="col-md-6">
                <div class="input-slider input-slider-red"></div>

                <div class="clearfix mb-5"></div>

                <div class="input-slider input-slider-blue"></div>

                <div class="clearfix mb-5"></div>

                <div class="input-slider input-slider-green"></div>

                <div class="clearfix mb-5"></div>

                <div class="input-slider input-slider-orange"></div>

                <div class="clearfix mb-5"></div>

                <div class="input-slider input-slider-teal"></div>

                 <div class="clearfix mb-5"></div>

                <div class="input-slider input-slider-purple"></div>
            </div>
        </div>
    </div>
</div>