<div class="card w-pictures">
    <div class="card-body">
        <h4 class="card-title">Augue laoreet rutrum</h4>
        <h6 class="card-subtitle">Cras congue nec lorem eget posuere</h6>
    </div>

    <div class="w-pictures__body row">
        <a href="" class="col-4"><img src="demo/img/widgets/pictures/1.jpg" alt=""></a>
        <a href="" class="col-4"><img src="demo/img/widgets/pictures/2.jpg" alt=""></a>
        <a href="" class="col-4"><img src="demo/img/widgets/pictures/3.jpg" alt=""></a>
        <a href="" class="col-4"><img src="demo/img/widgets/pictures/4.jpg" alt=""></a>
        <a href="" class="col-4"><img src="demo/img/widgets/pictures/5.jpg" alt=""></a>
        <a href="" class="col-4"><img src="demo/img/widgets/pictures/6.jpg" alt=""></a>
        <a href="" class="col-4"><img src="demo/img/widgets/pictures/7.jpg" alt=""></a>
        <a href="" class="col-4"><img src="demo/img/widgets/pictures/8.jpg" alt=""></a>
        <a href="" class="col-4"><img src="demo/img/widgets/pictures/9.jpg" alt=""></a>
    </div>
</div>