<div class="card">
    <div class="pie-list">
        <div class="pie-list__item">
            <div class="easy-pie-chart" data-percent="52" data-size="110" data-track-color="#1e2a31" data-bar-color="#FF7043">
                <div class="pie-list__info">
                    <span>Email<br>Opened</span>
                    <h4>52</h4>
                </div>
            </div>
        </div>

        <div class="pie-list__item">
            <div class="easy-pie-chart" data-percent="11" data-size="110" data-track-color="#1e2a31" data-bar-color="#ac66f5">
                <div class="pie-list__info">
                    <span>Email<br>Bounced</span>
                    <h4>11</h4>
                </div>
            </div>
        </div>

        <div class="pie-list__item">
            <div class="easy-pie-chart" data-percent="44" data-size="110" data-track-color="#1e2a31" data-bar-color="#0cd966">
                <div class="pie-list__info">
                    <span>Storage<br>Remaining</span>
                    <h4>44</h4>
                </div>
            </div>
        </div>

        <div class="pie-list__item">
            <div class="easy-pie-chart" data-percent="78" data-size="110" data-track-color="#1e2a31" data-bar-color="#27a4fb">
                <div class="pie-list__info">
                    <span>Web Page<br>Views</span>
                    <h4>78</h4>
                </div>
            </div>
        </div>

        <div class="pie-list__item">
            <div class="easy-pie-chart" data-percent="32" data-size="110" data-track-color="#1e2a31" data-bar-color="#f93964">
                <div class="pie-list__info">
                    <span>Server<br>Processing</span>
                    <h4>32</h4>
                </div>
            </div>
        </div>

        <div class="pie-list__item">
            <div class="easy-pie-chart" data-percent="50" data-size="110" data-track-color="#1e2a31" data-bar-color="#ffc021">
                <div class="pie-list__info">
                    <span>Email<br>Scheduled</span>
                    <h4>50</h4>
                </div>
            </div>
        </div>
    </div>
</div>