<div class="card w-profile">
    <img class="card-img-top w-profile__cover" src="demo/img/widgets/profile/cover.jpg" alt="">

    <div class="w-profile__info">
        <a href="" class="w-profile__img">
            <img src="demo/img/widgets/profile/user.jpg" alt="">
        </a>
        <div class="w-profile__name">
            Malinda Hollaway
            <small>Edinburgh, Scotland</small>
        </div>
    </div>

    <div class="listview listview--plain listview--striped">
        <div class="listview__item">
            <div class="avatar-char bg-red"><i class="zwicon-phone"></i></div>
            <div class="listview__content">
                <h4>011 55694785</h4>
                <p>Home</p>
            </div>
        </div>
        <div class="listview__item">
            <div class="avatar-char bg-orange"><i class="zwicon-mail"></i></div>
            <div class="listview__content">
                <h4>m-hollaway@gmail.com</h4>
                <p>Email</p>
            </div>
        </div>
        <div class="listview__item">
            <div class="avatar-char bg-blue">t</div>
            <div class="listview__content">
                <h4>@m-hollaway</h4>
                <p>Twitter</p>
            </div>
        </div>
        <div class="listview__item">
            <div class="avatar-char bg-lime">f</div>
            <div class="listview__content">
                <h4>facebook/hollaway</h4>
                <p>Facebook</p>
            </div>
        </div>
        <div class="listview__item">
            <div class="avatar-char bg-purple">g</div>
            <div class="listview__content">
                <h4>github.com/hollaway</h4>
                <p>Github</p>
            </div>
        </div>

        <div class="p-2"></div>
    </div>
</div>