<div class="card">
    <div class="card-body">
        <h4 class="card-title">Tickets</h4>
        <h6 class="card-subtitle">Nullam dolorenibh ultricies vehicula</h6>
    </div>

    <div class="listview listview--hover listview--truncate listview--plain tickets">
        <a class="listview__item" href="">
            <div class="tickets__label">#114</div>
            <div class="tickets__label tickets__label--severity bg-red">Severe</div>

            <div class="listview__content">
                <h4>Lorem ipsum dolor sit amet imperdiet dictum</h4>
            </div>
        </a>

        <a class="listview__item" href="">
            <div class="tickets__label">#12</div>
            <div class="tickets__label tickets__label--severity bg-blue">High</div>

            <div class="listview__content">
                <h4>Donec lacus ipsum laoreet non eleifend ulvinar aeo</h4>
            </div>
        </a>

        <a class="listview__item" href="">
            <div class="tickets__label">#99</div>
            <div class="tickets__label tickets__label--severity bg-green">Normal</div>

            <div class="listview__content">
                <h4>Phasellus ultricies porta ipsum ut lacinia</h4>
            </div>
        </a>

        <a class="listview__item" href="">
            <div class="tickets__label">#115</div>
            <div class="tickets__label tickets__label--severity bg-amber">2.0</div>

            <div class="listview__content">
                <h4>Phasellus a ullamcorper lectus sit amet viverra quam luctus tortor vel nulla pharetra bibendum</h4>
            </div>
        </a>

        <a class="listview__item" href="">
            <div class="tickets__label">#115</div>
            <div class="tickets__label tickets__label--severity bg-purple">Regression</div>

            <div class="listview__content">
                <h4>Cras bibendum nibh vitae condimentum dignissim</h4>
            </div>
        </a>

        <a href="" class="view-more">View All Tickets</a>
    </div>
</div>