<div class="card profile">
    <div class="profile__img">
        <img src="demo/img/contacts/2.jpg" alt="">

        <a href="" class="zwicon-camera profile__img__edit"></a>
    </div>

    <div class="profile__info">
        <p>Cras mattis consectetur purus sit amet fermentum. Maecenas sed diam eget risus varius blandit sit amet non magnae tiam porta sem malesuada magna mollis euismod.</p>

        <ul class="icon-list">
            <li><i class="zwicon-phone"></i> 308-360-8938</li>
            <li><i class="zwicon-mail"></i> malinda@inbound.plus</li>
            <li><i class="zwicon-chat"></i>@malinda-h</li>
        </ul>
    </div>
</div>