<div class="card">
    <div class="card-body">
        <h4 class="card-title">@@if(context.type === "posts"){Popular Posts}@@if(context.type === "full"){Related Posts}</h4>
        <h6 class="card-subtitle">Venenatis portauam Inceptos ameteiam</h6>
    </div>

    <div class="listview listview--truncate listview--hover">
        <a class="listview__item">
            <img src="demo/img/profile-pics/1.jpg" class="avatar-img" alt="">

            <div class="listview__content">
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing</h4>
                <p>by Jane Neimor on 1st July 2017</p>
            </div>
        </a>

        <a class="listview__item">
            <img src="demo/img/profile-pics/2.jpg" class="avatar-img" alt="">

            <div class="listview__content">
                <h4>Nam quis dolor dapibus, viverra leo eu, egestas nisi</h4>
                <p>by Nate Davis on 5th July 2017</p>
            </div>
        </a>

        <a class="listview__item">
            <img src="demo/img/profile-pics/3.jpg" class="avatar-img" alt="">

            <div class="listview__content">
                <h4>Fusce ullamcorper urna et sodales imperdiet</h4>
                <p>by Malinda Hollaway on 10th July 2017</p>
            </div>
        </a>

        <a class="listview__item">
            <img src="demo/img/profile-pics/4.jpg" class="avatar-img" alt="">

            <div class="listview__content">
                <h4>Cras pellentesque orci in libero scelerisque commodo</h4>
                <p>by Dave Rubin on 15th July 2017</p>
            </div>
        </a>

        <a class="listview__item">
            <img src="demo/img/profile-pics/5.jpg" class="avatar-img" alt="">

            <div class="listview__content">
                <h4>Sed suscipit sem non lectus imperdiet ornare</h4>
                <p>by Sam Andersion on 17th July 2017</p>
            </div>
        </a>

        <div class="m-4"></div>
    </div>
</div>