<div class="notifications__panel" id="notifications-alerts">
    <div class="sidebar__header">
        <i class="zwicon-arrow-left sidebar__close"></i>
        <h2>Alerts <small>100+ New Alerts</small></h2>

        <div class="actions">
            <a href="" class="actions__item"><i class="zwicon-checkmark-circle"></i></a>
        </div>
    </div>

    <div class="notifications__body">
        <div class="scrollbar">
            <div class="listview listview--hover listview--truncate">
                <a href="" class="listview__item">
                    <span class="avatar-char bg-gradient-red"><i class="zwicon-info-circle"></i></span>
                    <div class="listview__content">
                        <h4>Email Marketing</h4>
                        <p>Need to re-send emails</p>
                    </div>
                </a>

                <a href="" class="listview__item">
                    <span class="avatar-char bg-gradient-purple"><i class="zwicon-package"></i></span>
                    <div class="listview__content">
                        <h4>New order recieved</h4>
                        <p>#241 Premium plan for 2 years</p>
                    </div>
                </a>

                <a href="" class="listview__item">
                    <span class="avatar-char bg-gradient-blue"><i class="zwicon-calendar-never"></i></span>
                    <div class="listview__content">
                        <h4>Upcoming event</h4>
                        <p>Meeting with Kane Williamson in 8 hours</p>
                    </div>
                </a>

                <a href="" class="listview__item">
                    <span class="avatar-char bg-gradient-pink"><i class="zwicon-exclamation-triangle"></i></span>
                    <div class="listview__content">
                        <h4>Server limit reached!</h4>
                        <p>Process reached over 75%</p>
                    </div>
                </a>

                <a href="" class="listview__item">
                    <span class="avatar-char bg-gradient-lime"><i class="zwicon-sale-badge"></i></span>
                    <div class="listview__content">
                        <h4>Sold an item</h4>
                        <p>#124 Samsung Galaxy S10 Plus</p>
                    </div>
                </a>

                <a href="" class="listview__item">
                    <span class="avatar-char bg-gradient-orange"><i class="zwicon-code"></i></span>
                    <div class="listview__content">
                        <h4>New issue filed</h4>
                        <p>#475 Web page not found</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>