<div class="notifications__panel" id="notifications-messages">
    <div class="sidebar__header">
        <i class="zwicon-arrow-left sidebar__close"></i>
        <h2>Messages <small>23 Unread messages</small></h2>

        <div class="actions">
            <a href="" class="actions__item"><i class="zwicon-plus"></i></a>
        </div>
    </div>

    <div class="notifications__body">
        <div class="scrollbar">
            <div class="listview listview--hover listview--truncate">
                <a href="" class="listview__item">
                    <img class="avatar-img" src="demo/img/profile-pics/1.jpg" alt="">

                    <div class="listview__content">
                        <h4>David Villa Jacobs</h4>
                        <p>Sorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis lobortis sapien non posuere</p>
                    </div>
                </a>

                <a href="" class="listview__item">
                    <img class="avatar-img" src="demo/img/profile-pics/5.jpg" alt="">
                    <div class="listview__content">
                        <h4>Candice Barnes</h4>
                        <p>Quisque non tortor ultricies, posuere elit id, lacinia purus curabitur.</p>
                    </div>
                </a>

                <a href="" class="listview__item">
                    <img class="avatar-img" src="demo/img/profile-pics/3.jpg" alt="">
                    <div class="listview__content">
                        <h4>Jeannette Lawson</h4>
                        <p>Donec congue tempus ligula, varius hendrerit mi hendrerit sit amet. Duis ac quam sit amet leo feugiat iaculis</p>
                    </div>
                </a>

                <a href="" class="listview__item">
                    <img class="avatar-img" src="demo/img/profile-pics/4.jpg" alt="">
                    <div class="listview__content">
                        <h4>Darla Mckinney</h4>
                        <p>Duis tincidunt augue nec sem dignissim scelerisque. Vestibulum rhoncus sapien sed nulla aliquam lacinia</p>
                    </div>
                </a>

                <a href="" class="listview__item">
                    <img class="avatar-img" src="demo/img/profile-pics/2.jpg" alt="">
                    <div class="listview__content">
                        <h4>Rudolph Perez</h4>
                        <p>Phasellus a ullamcorper lectus, sit amet viverra quam. In luctus tortor vel nulla pharetra bibendum</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>